/*page layout*/
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #FCE7C8;
}
/*container*/
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #F0A04B;
    border-radius: 25px;
}
.header{
    font-size: 50px;
    width:max-content;
    margin: 15px;
    padding: 15px;
    border-style: solid;
    border-width: 5px;
    border-color: #fada7a;
    border-radius: 30px;
    background-color: #B1C29E;
    color: #FADA7A;
    text-align: center;
    font-family: 'Arial', sans-serif;
}
/*input*/
.main{
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    width:max-content;
}
.add{
    width:fit-content;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 10px;
    border-radius: 25px;
    border: 5px solid #fada7a;
    background-color: #B1C29E;
}
.add img{
    margin: 0px;
    padding: 0px;
    border-radius: 100%;
    border: 2px transparent;
    width: 50px;
    background-color: transparent;
}
.add img:hover{
    border: 2px solid #fada7a;
    background-color: #FADA7A;
    border-radius: 100%;
}
.add input[type="text"]{
    border:0px;
    background:transparent;
    width:fit-content;
    font-size: 20px;
    font-family: 'Arial', sans-serif;
    padding-left: 5px;
}
.add input[type="text"]:focus{
    outline: none;
    background-color: #FCE7C8;
    border-radius: 25px;
}
/*list*/
ul {
    list-style-type: upper-roman;
    padding: 0;
    margin: 0;
    width: 100%;
    color:#B1C29E;
}
li {
    align-items: center;
    margin: 2px;
    padding: 5px;
    padding-left: 10px;
    border-radius: 5px;
    border: dotted #fada7a;
    background-color: #B1C29E;
    color:black
}
.taskitem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}
.taskitem div{
    display: flex;
    flex-wrap: wrap;
    padding-right: 5px;
}
.taskActions{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
}
.change {
    width:30px;
    margin:2px;
    background-color: #FCE7C8;
    border: 2px solid #fada7a;
}
/*editItem*/
.editItem{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
}
.editInput{
    width: 100%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
    padding: 5px;
    border-radius: 25px;
    border: 5px solid #fada7a;
    background-color: #B1C29E;
}
.savebutton{
    width:30px;
    margin:2px;
    background-color: #FCE7C8;
    border: 2px solid #fada7a;
}